{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          My name is <b>Fedrick Samuel W,</b> and I was born and raised in <b>Chennai, India.</b> I completed my <b>M.Tech</b> in Computer Science and Engineering from <b>Vellore Institute of Technology (VIT Chennai)</b>, where my interest in understanding systems at a deeper level began to take shape. Rather than focusing only on tools or trends, I’ve always been drawn to the underlying principles that make technology reliable, scalable, and meaningful.
        </p>
        <p>
          My interests lie at the intersection of <b>mathematics, computer science, software development, </b>and <b>technology.</b>
            I enjoy exploring how abstract ideas become practical solutions, how logic turns into code, how systems are designed, and how software can be built to solve real problems.
            I’m particularly motivated by the idea of contributing to the real world through software, whether by improving existing systems, building useful applications, or creating technology that has a tangible impact.
        </p>
        <p>
          This blog is a personal space where I collect <b>thoughts, learnings, </b>and <b>reflections,</b> sometimes technical, sometimes philosophical, and often exploratory.
            I write to understand better, not to present finished answers.
            Alongside technology, I enjoy observing nature and quiet environments, which help me slow down, reflect, and think clearly.
            Much like learning itself, this blog is an ongoing process that remains unstructured, curious, and open-ended.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
